<br>
<div class='ui centered container'>
    <br>
<a href='#' class="ui circular mini facebook icon button foot">
  <i class="facebook icon"></i>
</a>
<a href='#' class="ui circular mini twitter icon button">
  <i class="twitter icon"></i>
</a>
<a href='#' class="ui circular mini twitter icon button">
  <i class="github icon"></i>
</a>
<br>
</div>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</body>
</html>