<!DOCTYPE html>
<html>
<head>
	<title>Blog App</title>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.14/semantic.min.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
	<link rel="stylesheet" href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
  <div class="ui fixed inverted menu">
    <div class="ui container">
        <div class="header item"><i class="chart pie icon"></i>Quick Opinion</div>
    </div>
    <a href="/polls" class="item">Home</a>
    <a href="/polls/new" class="item">New Poll</a>
</div>
